{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mr-auto ml-auto px-5">
            <h1>{{object.title |upper}}</h1>
            {{object.timestamp | timesince}} ago </br>
            {{object.description}}</br>
            {{object.price}}</br>
            <!-- {{object.image}} -->
            {% if object.image %}
            <img src='{{object.image.url}}'  class="img-fluid"/>
            {% endif %}
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class='col-12'>
            {% include 'products/snippets/card.html' with instance=object %}
        </div>
    </div>
</div> -->
{% endblock %}