{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{object.title |upper}}</h1>
            {{object.timestamp | timesince}} ago </br>
            {{object.description}}</br>
            {{object.price}}</br>
            <!-- {{object.image}} -->
            {% if object.image %}
            <img src='{{object.image.url}}'  class="img-fluid"/>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}