{% extends 'base.html' %}


{% block content %}

    <div class="row">
       
        {% for obj in object_list %}
        
        <div class="col">
            <!-- Forloop -->
            {{ forloop.counter }}
            {% include 'products/snippets/card.html' with instance=obj %}
            <!--  <a href='{{obj.get_absolute_url}}'>{{obj.title}}</a></br>-->
            <!-- cycle -->
            <!--  {% cycle '<h1>Hehoe  i am here</h1>' '' ''%}-->
        
        <!-- {%  if forloop.counter|divisibleby:2 %}
        </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        {% else %}
        </div>
        {% endif %} -->
        </div>
        
        {% endfor %}
        
    </div>

   
{% endblock %}